.conName, .conPerIn, .conEdu, .conAwards, .conSkills {
  width: 50%;          
  margin: 0 auto 20px; 
  font-family: "Times New Roman", serif;
  color: #000;
}

.conName h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.conPerIn h2,
.conEdu h2,
.conAwards h2,
.conSkills h2 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 5px;
}

.conName hr,
.conPerIn hr,
.conEdu hr,
.conAwards hr,
.conSkills hr {
  border: none;
  border-top: 3px solid #000;
  margin: 5px 0;
}

.conPerIn table,
.conEdu table,
.conAwards table,
.conSkills table {
  width: 100%;
  border-collapse: collapse;
}

.conPerIn th,
.conEdu th,
.conAwards th {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  vertical-align: middle;
  width: 180px;
  padding: 1px 0;
}

.conSkills th {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  vertical-align: top;
  width: 180px;
  padding: 2px 0;
}

.conPerIn td,
.conEdu td,
.conAwards td,
.conSkills td {
  font-size: 20px;
  padding: 5px 90px;
}

.conEdu td, .conAwards td, .conSkills td {
  padding-bottom: 50px;
}

table, th, td {
  border: none;
}
.conPerIn td {
  padding: 5px 0;
}